
@model List<ShoppingCart.Models.Product.Product>
@{
    ViewBag.Title = "HomePage";
    var UserName = User.Identity.Name;
}


<link rel="stylesheet" href="~/css/productlist.css" />


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissable">
        <strong>@TempData["SuccessMessage"]</strong>
    </div>
}


<div class="jumbotron">
    <h2>The A to Z Company On-line Store  - We have everything you need.</h2>
    <h6><span></span> @Html.ActionLink("About Us", "About", new { }, new { @class = "btn btn-primary btn-lg" }) </h6>
</div>


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form asp-action="Index" asp-controller="Home" class="search-form" method="get">

            <div class="input-group add-on form-group">
                <input class="form-control" placeholder="Search product..." name="pSearch" id="search" type="text" value="@Context.Request.Query["search"]">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>

        </form>
    </div>
</div>


<div class="row equal">
    @foreach (var product in this.Model)
    {
        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="thumbnail">
                <img class="ProductImg" src="@product.DefaultImageURL" alt="product pic">
                <div class="caption">
                    <h3>@product.Name</h3>
                    <p>@product.Description</p>
                    <p>Price : @product.Price</p>
                    <p>
                        <a onclick="AddToCart('@product.Id')" href="javascript:void(0);"
                           class="btn btn-primary" role="button">
                            Add to Cart
                        </a>
                        <a href="@Url.Action("Details", new { pId = product.Id })" class="btn btn-default" role="button">
                            Detail
                        </a>
                    </p>

                </div>
            </div>
        </div>
    }
</div>


<!-- The actual snackbar -->
<div id="snackbar">Item Added to cart</div>
